{% extends "layout.html" %}

{% block body %}

<div class="container" style="margin-top:50px;max-width:500px">
<form method="post">

  <div class="form-group">
    <label for="InputSource" style="margin-right:50px">Source Station</label>
<select class="custom-select" name="InputSource" id="InputSource">
<option value="" selected disabled hidden>Choose Source</option>
{% for station in stations %}
<option value="{{ station }}">{{ station }}</option>
{% endfor %}
</select>
  </div>
  <div class="form-group">
    <label for="InputDestination" style="margin-right:22px">Destination Station</label>
<select class="custom-select" name="InputDestination" id="InputDestination">
<option value="" selected disabled hidden>Choose Destination</option>
{% for station in stations %}
<option value="{{ station }}">{{ station }}</option>
{% endfor %}
</select>
  </div>
  <div class="form-group">
	<label for="InputSeat">Seats to book</label>
	<input type="text" class="form-control" id="InputSeats" name="InputSeats"	placeholder="Seats">
  </div>
  <div class="form-group">
	<label for="InputDoj">Date Of Journey</label>
	<input type="text" class="form-control" id="InputDoj" name="InputDoj" placeholder="DD/MM/YYYY">
  </div>
  <button type="submit" class="btn btn-dark">Book</button>
</form>
</div>


{% endblock %}

