{% extends "layout.html" %}

{% block body %}
<div class="container" style="margin-top:25px;margin-bottom:25px">
<div class="card">
    <h3 class="card-header">Booking Details</h3>
  <div class="card-block" style="padding-left:10px">
	  Source: {{ source }} <br>Destination: {{ destination }} <br>DOJ: {{ doj }} <br> Seats: {{ seats }} 
  </div>
</div>
</div>
{% if train_info %}
<div class="container">
<form method="post" action="{{ url_for('confirm_booking',source=source, destination=destinatio,doj=doj,seats=seats) }}">
<table class="table">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Train Number</th>
      <th>Train Name</th>
      <th>Boarding Time</th>
      <th>Arrival Time</th>
      <th>Seats Available</th>
      <th>Selection</th>
    </tr>
  </thead>
  <tbody>
  {% for train in train_info %}
    <tr>
      <th scope="row">1</th>
      <td>{{ train['train_number'] }}</td>
      <td>{{ train['train_name'] }}</td>
      <td>{{ train['boarding_arrival'] }}</td>
      <td>{{ train['destination_arrival'] }}</td>
      <td>{{ train['seats_available'] }}</td>
      <td>
	<div class="form-check">
	  <label class="form-check-label">
		  <input class="form-check-input" type="radio" name="train" id="exampleRadios1" value="{{ train['train_number'] }}" checked>
	  </label>
	</div>
    </tr>
  </tbody>
</table>
  
{% endfor %}
  <button type="submit" class="btn btn-dark">Confirm booking</button>
</form>
</div>
{% else %}
<h3>Sorry No trains available</h3>
{% endif %}
{% endblock %}
