{% extends "layout.html" %}

{% block body %}

{% if seat_allocated %}
<h2>Seat Number</h2>
{% for seat in seat_allocated %}
{{ seat }} &nbsp
{% endfor %}
{% endif %}

{% if seat_in_waiting_list %}
<h2>Seat in waiting list</h2>
{% for seat in seat_in_waiting_list %}
{{ seat }} &nbsp
{% endfor %}
{% endif %}

{% endblock %}
