{% extends "layout.html" %}

{% block body %}

<div class="container" style="margin-top:50px;max-width:500px">
<form method="post">

  <div class="form-group">
    <label for="BookingNumber" style="margin-right:50px">Booking Number</label>
<select class="custom-select" name="BookingNumber" id="BookingNumber">
{% for booking in booking_number %}
<option value="{{ booking }}">{{ booking }}</option>
{% endfor %}
</select>
  </div>
  <button type="submit" class="btn btn-dark">View Status</button>
</form>
</div>




{% endblock %}
